Source: rust-humantime
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 24),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Wolfgang Silbermayr <wolfgang@silbermayr.at>
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/humantime]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/humantime
Homepage: https://github.com/tailhook/humantime
Rules-Requires-Root: no

Package: librust-humantime-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends}
Provides:
 librust-humantime+default-dev (= ${binary:Version}),
 librust-humantime-2-dev (= ${binary:Version}),
 librust-humantime-2+default-dev (= ${binary:Version}),
 librust-humantime-2.1-dev (= ${binary:Version}),
 librust-humantime-2.1+default-dev (= ${binary:Version}),
 librust-humantime-2.1.0-dev (= ${binary:Version}),
 librust-humantime-2.1.0+default-dev (= ${binary:Version})
Description: Parser and formatter for std::time::{Duration, SystemTime} - Rust source code
 This package contains the source for the Rust humantime crate, packaged by
 debcargo for use with cargo and dh-cargo.
